<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Statement</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Financial Statement</h1>
        <form method="GET" action="/">
            <label for="ticker">Ticker Symbol:</label>
            <input type="text" id="ticker" name="ticker" value="{{ request.args.get('ticker', '') }}"><br>
            <label for="statement_type">Statement Type:</label>
            <select id="statement_type" name="statement_type">
                <option value="financials" {% if request.args.get('statement_type') == 'financials' %}selected{% endif %}>Financials</option>
                <option value="cash-flow" {% if request.args.get('statement_type') == 'cash-flow' %}selected{% endif %}>Cash Flow</option>
                <option value="balance-sheet" {% if request.args.get('statement_type') == 'balance-sheet' %}selected{% endif %}>Balance Sheet</option>
            </select><br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form><br>
        <h2>{{ticker}} ({{statement_type}})</h2>
            
        {{ table | safe }}
           
    </div>
</body>
</html>
